.gifs {
  background-color: #383838;
  box-shadow: 4px 0 10px -3px hsl(0deg, 0%, 0%);
  color: #fff;
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}

.gif-title {
  font-family: 'PT Mono', monospace;
  padding: 0.5rem;
  background-color: #383838;
}

.tredning {
  font-family: 'PT Mono', monospace;
  padding: 0.4rem;
  border: 1px solid #12c2e9;
}

.gif-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn2 {
  font-size: 2rem;
  background-color: transparent;
  width: 3rem;
  outline: none;
  cursor: pointer;
  border: none;
}

.gif-img {
  width: 570px;
  height: 350px;
}

@media (max-width: 600px) {
  .gif-img {
    max-width: 340px;
    height: 200px;
  }
}
