nav {
  font-family: 'PT Mono', monospace;
  background-color: #383838;
  box-shadow: 4px 0 10px -3px hsl(0deg, 0%, 0%);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #fff;
}
.ul-flex {
  list-style: none;
  display: flex;
}

.menu-icon {
  display: none;
}

.ul-flex li {
  padding: 1rem;
}

@media (max-width: 600px) {
  nav {
    align-items: flex-start;
    flex-direction: column;
  }
  header {
    margin-left: 1rem;
  }
  .nav-contents {
    height: 0;
    overflow: hidden;
    /* transition: all 0.3s linear; */
  }
  .ul-flex {
    flex-direction: column;
  }
  .show {
    height: 11rem;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}
